<nav>
  <div class="header">
    <div id="nav">
      <img src="./assets/postit_image.png" alt="" class="logo" />
      <div class="search-container">
        <input type="text" /><button>Search</button>
      </div>
      <a href="/">Home </a> | <a href="/posts">Posts page</a> |
      <a href="/contactus">Contact us</a>|
      <a href="/create">Add new post</a>
      <input
        type="image"
        id="logo_profile"
        name="user"
        src="./assets/profil.png"
        alt="User Picture"
        width="32"
        height="32"
      />
    </div>
  </div>
</nav>
